.areadeluta{
    display:flex;
    gap: 20px;
}

#personagem, #inimigo {
    flex: 1;
}

.hptotal {
    height: 20px;
    border: 1px solid black;
    border-radius: 5px 0 25px 0;
}
.hptotal .hp{
    height: inherit;
    background-color: red;
    border-radius: 5px 0 25px 0; 
}

.log{
    padding-left: 50%;
    width: 50%;
    border: 1px dotted #999;
    height: 200px;
    overflow-y: auto;
    font-size: 20px;
    font-weight: bold;


}
.kiko{
    margin-top:200px;
    width: 100px;
}

.chaves{
    margin:200px 0 0 350px;
    width: 105px;
}

body{
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/47cdb340143315.5606d030732ac.jpg);
    background-repeat: no-repeat;
    background-size: width= '100%';
}  

.atacar{
    color: yellow;
    border-radius: 10px;
    background-color: red;
    font-size: 25px;
    

}

.nome{
    font-size: 30px;
    color:white;
    border:solid black;
    border-radius: 5px 5px 50px 5px;
}